//META{"name":"NadekoTheme","description":"Nadeko best waifu","author":"theone9032","version":"1.0"}*//
{} /* Background */
.app {
    background-image: url("https://imgur.com/hKLU9yZ.jpg");
    background-size: cover !important;
    background-position: center;
}
.callout-backdrop {
    opacity:1 !important;
    background: url("https://imgur.com/hKLU9yZ.jpg");
    background-size: cover;
    background-position: center;
}
.bda-backdrop {
    background: url("https://imgur.com/hKLU9yZ.jpg");
    background-size: cover;
}
